<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Event Reservation{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">EventApp</a>
            <div class="navbar-nav ms-auto">
                {% if app.user %}
                    <a class="nav-link text-white" href="{{ path('app_logout') }}">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
</body>
</html>